.server-icon {
  width: 50px;
}
.sub-menu {
  padding: 0px;
}
.sub-menu li {
  padding: 2px 0px 2px 35px;;
  display: block;
}
.sub-menu li:hover {
  background-color: #1E282C;
}
.sub-menu li > a {
  width: 100%;
  display: block;
}
.discord_emoji {
  max-width: 30px;
}
.notif_date {
  float: right;
  margin: 0;
  font-size: 70%;
  color: #777;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > div {
      color: #444444;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 10px;
}
